name: Build Android APK

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Install Ubuntu dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-setuptools git zip openjdk-17-jdk unzip wget libpython3-dev

    - name: Install Python tools
      run: pip install buildozer cython

    - name: Install Android SDK
      run: |
        mkdir -p $HOME/android-sdk/cmdline-tools
        cd $HOME/android-sdk/cmdline-tools

        wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O tools.zip
        unzip tools.zip

        # rename the folder
        mv cmdline-tools latest

        export ANDROID_SDK_ROOT=$HOME/android-sdk
        export PATH=$HOME/android-sdk/cmdline-tools/latest/bin:$PATH

        # accept licenses
        yes | $HOME/android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses

        # required packages
        yes | $HOME/android-sdk/cmdline-tools/latest/bin/sdkmanager "platform-tools"
        yes | $HOME/android-sdk/cmdline-tools/latest/bin/sdkmanager "platforms;android-33"
        yes | $HOME/android-sdk/cmdline-tools/latest/bin/sdkmanager "build-tools;36.0.0"
        yes | $HOME/android-sdk/cmdline-tools/latest/bin/sdkmanager "ndk;25.2.9519653"

    - name: Build APK
      env:
        ANDROIDSDK: $HOME/android-sdk
        ANDROIDNDK: $HOME/android-sdk/ndk/25.2.9519653
        ANDROID_SDK_ROOT: $HOME/android-sdk
        PATH: $HOME/android-sdk/cmdline-tools/latest/bin:$PATH
      run: |
        echo "android.sdk_path = $HOME/android-sdk" >> buildozer.spec
        echo "android.ndk_path = $HOME/android-sdk/ndk/25.2.9519653" >> buildozer.spec
        buildozer -v android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: gtm_app_apk
        path: bin/*.apk
