name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Install Ubuntu dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-setuptools git zip openjdk-17-jdk unzip wget libpython3-dev

    - name: Install Python tools
      run: pip install buildozer cython

    - name: Install Android SDK
      run: |
        # Make SDK folders
        mkdir -p $HOME/android-sdk/cmdline-tools/latest

        cd $HOME/android-sdk/cmdline-tools

        # Download cmdline-tools
        wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O tools.zip
        unzip tools.zip -d latest

        export ANDROID_SDK_ROOT=$HOME/android-sdk
        export PATH=$HOME/android-sdk/cmdline-tools/latest/bin:$PATH

        # Accept licenses
        yes | sdkmanager --licenses

        # Install EXACT versions buildozer uses
        sdkmanager "platform-tools" \
                   "platforms;android-33" \
                   "build-tools;36.1.0" \
                   "ndk;25.2.9519653"

    - name: Build APK
      env:
        ANDROIDSDK: $HOME/android-sdk
        ANDROIDNDK: $HOME/android-sdk/ndk/25.2.9519653
        ANDROID_SDK_ROOT: $HOME/android-sdk
      run: |
        export PATH=$HOME/android-sdk/cmdline-tools/latest/bin:$PATH
        buildozer -v android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: gtm_app_apk
        path: bin/*.apk
